<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles/media.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles/bootstrap.min.css}"/>
    <title>Авторизация</title>
</head>
<body>
<div class = "mainWrapper">
    <header class="headerWrapper">
        <div class="logoContainer">
            <a th:href="@{/mainpage}"><img th:src="@{/img/logo.png}"  class="image" height="140px" > </a>
        </div>
        <div class="upperBarButtons">
            <div class="upperBarButtons_vacancysButton">
            <a th:href="@{/test}" class="btn btn-outline-success" role="button" aria-pressed="true">Вакансии</a>
            </div>
            <div class="upperBarButtons_resumeButton">
            <a th:href="@{/test}" class="btn btn-outline-success" role="button" aria-pressed="true">Мое резюме</a>
            </div>
        </div>
        <div class="loginButton">
            <a th:href="@{/login}" class="btn btn-outline-success" role="button" aria-pressed="true">Войти</a>
        </div>
    </header>
    <div class="greenBar shadow-sm p-3 mb-5 rounded"></div>

    <div class="regContainer"> 
        <form th:action="@{/login}" class="loginForm" method="post">
<!--              onsubmit="document.getElementById('alert').classList.remove('ClassThatHides');"-->
            <h2>Авторизация</h2>
<!--            <div class="alert alert-danger ClassThatHides" id="alert" role="alert">Неверные учетные данные пользователя</div>-->
            <p>
                <label for="username" class="sr-only">Email</label>
                <input type="email" id="username" name="username" class="form-control shadow-sm rounded" placeholder="Введите электронную почту" required autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Пароль</label>
                <input type="password" id="password" name="password" class="form-control shadow-sm rounded" placeholder="Введите пароль" required>
            </p>

            <button class="btn-lg" type="submit">Войти</button>
            <a th:href="@{/registration}" class="btn-lg" role="button" aria-pressed="true">Зарегистрироваться</a>
        </form>
    </div>
</div>
</body>
</html>