<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/styles/main.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles/media.css}"/>
    <link th:rel="stylesheet" th:href="@{/styles/bootstrap.min.css}"/>
    <title>Создание вакансии</title>
</head>

<body>
<div class = "mainWrapper">
    <header class="headerWrapper">
        <div class="logoContainer">
            <a th:href="@{/mainpage}"><img th:src="@{/img/logo.png}"  class="image" height="140px" > </a>
        </div>
        <div class="upperBarButtons">
            <div class="upperBarButtons_vacancysButton">
            <a th:href="@{/test}" class="btn btn-outline-success" role="button" aria-pressed="true">Вакансии</a>
            </div>
            <div class="upperBarButtons_resumeButton">
            <a th:href="@{/test}" class="btn btn-outline-success" role="button" aria-pressed="true">Мое резюме</a>
            </div>
        </div>
        <div class="loginButton">
            <a th:href="@{/logout}" class="btn btn-outline-danger" role="button" aria-pressed="true">Выйти</a>
        </div>
    </header>
    <div class="greenBar shadow-sm p-3  rounded"></div>

    <form th:action="@{/vacancycreation}" class="container" method="post" th:object="${vacancyDto}">
        <div class="row mt-3">
          <div class="col-3">
            <input type="text" class="form-control shadow-sm rounded" placeholder="Должность" th:field="*{position}" th:required="true">
          </div>
          <div class="col-3">
            <select name="selectedOptions" class="form-select shadow-sm rounded" th:field="*{schedule}" required>
                <option value="">Расписание рабочего дня</option>
                <option value="Полный рабочий день">Полный рабочий день</option>
                <option value="От 4 до 6 часов">От 4 до 6 часов</option>
                <option value="Гибкий график">Гибкий график</option>
            </select><Br>
          </div>
          <div class="w-100"></div>
          <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">₽</span>
                </div>
                <input type="number" min="1" step="any" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Оклад" th:field="*{salary}" required>
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">г.</span> 
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Город" th:field="*{city}" required>
              </div>
         </div>
        </div>

        <div class="container mt-4">
            <form class="w-75"> 
                <div class="form-group">
                    <textarea class="form-control" id="textareaField" rows="12" placeholder="Описание вакансии" th:field="*{description}" required></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success mt-2">Создать вакансию</button>
            </form>
        </div>
    </form>

</div>
</body>
</html>



<!-- 
  <div class="vacancy-info-wrapper">
    <div class="position-salary">
        <input type>
    </div>

    <div class="schedule-city">

    </div>
</div>

<div class="vacancy-description-wrapper"></div> -->