@media (max-width: 825px)
{
    .image {
        width: 250px;
    }

    .loginButton {
        margin-left: 25px;
    }


    .upperBarButtons {
        display: none;
    }

    .pre-description {
        font-size: small;
    }
    .strong-text {
        font-size: medium;
    }
}

@media (max-width: 475px) {
    .parentSearchBar {
        display: none;
    }

    .vac-detail-title {
        font-size: 1.6em;
    }

}

@media (max-width: 350px)
{
    *{
        font-size: small;
    }

    .image {
        width: 170px;
    }

}
